@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* globals */
h1 {
    color: #172B4D;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 52px;
    letter-spacing: 1.1px;
}

button {
    color: #fff;
    background-color: #1E488F;
    padding: 12px;
    width: fit-content;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
}

body {
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    position: relative;
}

nav .wlc {
    font-size: 20px;
    font-weight: 600;
    color: #28352F;
}

.menu {
    display: none;
}

nav.active .menu {
    display: initial;
    padding: 10px 16px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
}

nav.active .menu div {
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu .fa-x {
    cursor: pointer;
}

nav.active .menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
nav.active .menu ul li {
    list-style: none;
    line-height: 44px;
}

nav.active .menu ul li a{
    font-size: 32px;
    color: #3A4A42;
    font-weight: 600;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
    padding: 10px 16px;
    background: no-repeat center url("../images/mobile/header-illsutration-mobile.svg");
    background-size: cover;
}

.intro h1:nth-child(1) {
    text-align: center;
}

.intro h1:nth-child(2) {
    text-align: center;
    color: #1E488F;
    line-height: 52px;
}

.hero-p {
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #172B4D;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    color: #505F79;
}

.socials a {
    text-decoration: none;
    color: #505F79;
}

#hero button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #DFE1E6;
    color: #172B4D;
}

#recents {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 86px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.project-block {
    border: 1px solid rgba(0,0,0,0.1);
    height: 474px;
    background-color: #EBEFF4;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.info-image {
    flex: 1;
}

.project-info {
    height: 222px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.tags p {
    border-radius: 4px;
    background-color: #EBEFF4;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    color: #3A4A42;
}

/* modal */
.modals {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    inset: 0 0 0 0;
    z-index: 10;
    padding: 10px;
}

.cont {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont div:nth-child(1) {
    background: no-repeat center url("../images/mobile/Snapshoot\ Portfolio.png");
    background-size: cover;
    color: #fff;
    position: relative;
    height: 220px;
    border-radius: 8px;
}

.cont .fa-solid {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.cont div:nth-child(2) h1{
    text-align: left;
}

.cont div:nth-child(2) .title-tag {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
}

.cont div:nth-child(2) .title-tag p {
    border-radius: 5px;
    background-color: #EBEFF4;
    padding: 8px;
    font-size: 12px;
    color: #3A4A42;
}

.cont div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont div:nth-child(4) a {
    color: #fff;
    text-decoration: none;
    background-color: #1E488F;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

#abt {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

#abt p {
    color: #42526E;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400px;
}

.fly-1-desktop {
    display: none;
}

.fly-2-desktop {
    display: none;
}

.fly-1,
.fly-1-desktop {
    position: absolute;
    top: 0;
    right: 0;
}

.fly-2,
.fly-2-desktop{
    position: absolute;
    bottom: 40px;
    left: 0;
}

#tools {
    padding: 30px 16px;
}

.tools-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tools-block {
    height: 352px;
    background-color: #EBEFF4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
    border: 1px solid rgba(0,0,0,0.1);
}

.lang {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.lang h3{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 32px;
    color: #344563;
}

.lang div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.lang div p {
    color: #1E488F;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 12px;
}

#contact {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

#contact h1{
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

form input {
    height: 48px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-top: 15px;
    padding-left: 16px;
    border-radius: 4px;
    width: 100%;
}

form textarea {
    height: 114px;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 100%;
}


.illus-1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.illus-2,
.illus-3,
.illus-4 {
    position: absolute;
    display: none;
}

footer {
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer p {
    font-size: 20px;
    color: #42526E;
}

/* desktop */
@media (min-width: 768px) {
    .project-block {
        width: 300px;
    }

    #contact {
        padding: 20px 16px;
    }

    .illus-2,
    .illus-3,
    .illus-4{
        z-index: -1;
    }

    .illus-2{
        height: 300px;
    }

    .illus-4{
        height: 200px;
    }
}

@media (min-width: 414px) {
    .project-block {
        width: 100%;
    }
}


@media (min-width: 720px) {
    
    #hero {
        padding-bottom: 200px;
        background: no-repeat center url("../images/desktop/Header-llustration-desktop.svg");
        height: 1000px;
        justify-content: center;
    }

    .hero-p {
        max-width: 750px;
    }

    nav {
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    
    nav .wlc,
    nav .fa-bars {
        display: none;
    }

    .menu {
        display: initial;
    }

    .menu .close {
        display: none;
    }

    .menu ul{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 8px;
    }

    .menu ul li a {
        text-decoration: none;
        color: #344563;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 12px;
    }

    #recents {
        margin-top: 80px;
    }

    .projects-container {
        flex-direction: initial;
        justify-content: center;
        flex-wrap: wrap;
    }

    #abt p {
        font-weight: 400;
        max-width: 750px;
    }

    .fly-1-desktop,
    .fly-2-desktop {
        display: initial;
        z-index: -1;
    }

    .fly-1,
    .fly-2 {
        display: none;
    }

    .tools-container {
        flex-direction: initial;
        justify-content: center;
    }

    .tools-block {
        width: 369px;
    }

    #contact {
        flex-direction: initial;
        padding: 20px 60px;
        height: 600px;
    }

    #contact h1 {
        flex: 1;
    }

    #contact form {
        flex: 1;
    }

    .illus-1{
        display: none;
    }

    .illus-2 {
        display: initial;
        bottom: 0;
        right: 0;
    }

    .illus-3 {
        display: initial;
        bottom: 0;
        left: 150px;
    }

    .illus-4 {
        display: initial;
        bottom: 0;
        left: 0;
    }
}

